*{
    margin: 0px;
    padding: 0px;

}
.heading 
{
    width: 100%;
    height: 120px;
    background-color: rgb(76, 213, 234);
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}
.main{
    width: 100%;
    height: 600px;
     background-color: yellow;
     display: flex;
}
.left
{
    width: 50%;
    background-color:white;
    position: relative;
    

}
.left img {
    height: 550px;
    width: 100%; /* Ensure the image takes up the full width of its container */
     /* Ensure the image takes up the full height of its container */
    object-fit: contain; /* Maintain aspect ratio and cover the entire container */
    z-index: -1;
}

.right
{
    width: 50%;
    background-color: white;
}
.right h3{
    
   margin-top: 50px;
    font-size: 40px;
    margin-left: 40px;
}
.list
{
   margin:40px;
   font-size: 20px;

}
.list li{
    margin:10px;
}
.email
{
    background-color: rgb(171, 246, 171);
    margin: 35px;
    height: 40px;
    font-size: 20px;

}


.callus
{
    background-color: turquoise ;
    margin: 35px;
    height: 40px;
    font-size: 20px;
}

.headoffice
{
    background-color: aliceblue;
    margin-left: 20px;
    height: 70px;
}
.headoffice p{
    margin-bottom: 10px;
}
.formsection
{
    background-color: rgb(73, 242, 115);
    margin: 30px;
    display: flex;
    align-items: flex-start; /* Adjust alignment to flex-start */
    justify-content: center;
    padding: 20px; /* Add padding for better spacing */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    height: auto; /* Set height to auto */
    margin-bottom: 0px;

}
.form-example {
    font-size: 20px;
    margin-bottom: 20px; /* Add margin at the bottom for spacing between inputs */
    display: flex; /* Use flexbox to align items */
    flex-direction: column; /* Stack items vertically */
}


.formsection h3{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;
}
.formsection p{
    margin: 10px;
    font-size: 25px;
}
.form-example
{
    font-size: 20px;
    margin: 10px;
}
.buttonn
{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 15px;
    margin-left:200px;
    padding: 10px;
    
    
}

 button{
    background-color:rgb(15, 108, 237);
    width: 220px;
    height: 50px;
   
    color: white;

}
.buttonn button:hover{
    background-color:rgb(0, 234, 255);
    transform: scaleX(1.2);
    

}






.footer
{
    background-color:rgb(111, 111, 231);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}